<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BP7G8HKQE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
        gtag('config', 'G-BP7G8HKQE8');
        </script>
        
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.v1.webmanifest">
    <title>Complete MicroSoft Rewards Daily Search</title>
<meta name="description" content="Complete your Microsoft Rewards daily searches quickly and easily with our website! Get the points you need to redeem for great rewards in just minutes.No extensions required!">
    <style>
        body,html{
            text-align: center;
      
        }


.microsoft {
    background-color: #f25022;
    box-shadow: 
        45px 0 0 0 #7fba00, 
        0 45px 0 0 #00a4ef, 
        45px 45px 0 0 #ffb900;
    height: 40px;
    width: 40px;
    display:inline-block;
    position:absolute;
    z-index:1;
    left:40%;
    opacity:0.6
}
h2{
  position:relative;
  top:0.5em;
  z-index:3; 
  padding:0 0.2em;

}
.head{
  margin-bottom:5em;
}
.s2{
  font-size: small;
}
.bt1{
  display: inline-block;
  margin-left: 1em;
}
.eta{
  position:absolute;bottom:0em;left:1em;font-size:0.8em;
}
.micro1{

 opacity:0.8;
 margin-top: 5em;
}
.mrs1{
  margin-right:3em;

}
.infosearch{
  position:absolute;bottom:0em;right:1em;
}
#loading-icon {
    width: 26px;
    cursor: pointer;
    
}
.footerp1{
position:fixed;left:8%;bottom:1em;
}
.footerp2{
  position:fixed;left:3%;bottom:1em;
}
#my-div{
    font-size: 0.8em;
}
@media screen and (min-width: 768px) {
  .micro1{

margin-top: 5em;
text-align: right;
}
  .eta{
  position:absolute;bottom:0em;left:8em;font-size:0.8em;
}
  .bt1{
  margin-left: -0.5em;
}

 .microsoft{
  left:14em;
 }
 .s2{
  font-size:1em;
}
}
@media screen and (min-width: 768px) and (max-width: 1280px)  {
  #my-div{
    font-size:1.5em !important;
}
  .bt1{
  margin-left: 0.3em;
  font-size: 2em !important;
width:4em;

}
.infosearch{
  position:absolute;bottom:0em;right:3em;
  transform: scale(1.6);
}
.container { padding:0em} 
.micro1{

margin-top: 5em;
text-align: left;
}
.eta{
  font-size: 1em;
  position:absolute;bottom:0em;left:5em;
}
.msw1{
 
  font-size:1.2em !important;
  padding:0.3em 0.9em !important;
  margin-top:5em;
}
.microsoft {
    background-color: #f25022;
    box-shadow: 
        80px 0 0 0 #7fba00, 
        0 80px 0 0 #00a4ef, 
        80px 80px 0 0 #ffb900;
    height: 70px;
    width: 70px;
    display:inline-block;
    position:absolute;
    z-index:1;
    left:40%;
    top:2.8em;
    opacity:0.6;
}
.head1{
  font-size: 3em;
  margin:0 0.9em;
  margin-bottom:2.2em;
}
.head{
  margin-bottom:5em;
}
.s2{
  font-size: small;
}
#container1{
  min-width: 100%;
  font-size:19px;
}
#subhead1{
 font-size: 1.5em;
}
#number{
  font-size: 2em;
  

}
.subhead3{
  font-size: 1.6em;
  margin-left:0.5em;
}
.subhead3 svg{
  transform: scale(1.8);
  margin-right:0.5em !important;
  
}
#loading-icon {
    width: 50px;
    cursor: pointer;
    
}
}

input[type="number"]:invalid {
  border: 1px solid red;
  color:red;
}

.sp1{
  font-weight: bolder;
}


#rect0 {
    fill: #E44A2F;
}

#rect1 {
    fill: #7AAC2C;
}

#rect2 {
    fill: #EFAC30;
}
#rect3 {
    fill: #159CDF;
}


.animate {
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .zq1{
    transform: scale(0.6)
  }
}
.check{
    display: none;
}

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class='container mt-4' id="container1">
 
<div class='head'>
  <span class="microsoft"></span> 
<h2 class="head1">Complete Microsoft Rewards - Daily Search</h2>

</div>
<div class='main gx-1 gx-lg-0 mb-4 mb-md-5 mb-lg-4 row justify-content-center align-items-center'>
<lable class="col-4 col-md-3 col-lg-2 me-2 me-lg-0 col-form-label " id="subhead1">Search Number : </lable>
<div class="col-4 col-lg-2">
 
<input class="form-control text-center" type="number" name='number' id='number' value='20' min="1" max="100" pattern="\d{1,3}">

</div>
<div class="col-3 col-lg-2 d-flex flex-column flex-md-row justify-content-center align-items-center " >
  <span class="d-block me-md-2 s2 d-flex justify-content-center align-items-center subhead3" >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-americas me-1" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
  </svg>
 <% if(country_code == 'GB'){ %>
UK 
  <%  }else{ %>
<%= country_code %>
    <% } %>
</span>
  <span class="d-block s2 d-flex justify-content-center align-items-center subhead3">

<% if(isMobile){ %>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-android2 me-1" viewBox="0 0 16 16">
    <path d="m10.213 1.471.691-1.26c.046-.083.03-.147-.048-.192-.085-.038-.15-.019-.195.058l-.7 1.27A4.832 4.832 0 0 0 8.005.941c-.688 0-1.34.135-1.956.404l-.7-1.27C5.303 0 5.239-.018 5.154.02c-.078.046-.094.11-.049.193l.691 1.259a4.25 4.25 0 0 0-1.673 1.476A3.697 3.697 0 0 0 3.5 5.02h9c0-.75-.208-1.44-.623-2.072a4.266 4.266 0 0 0-1.664-1.476ZM6.22 3.303a.367.367 0 0 1-.267.11.35.35 0 0 1-.263-.11.366.366 0 0 1-.107-.264.37.37 0 0 1 .107-.265.351.351 0 0 1 .263-.11c.103 0 .193.037.267.11a.36.36 0 0 1 .112.265.36.36 0 0 1-.112.264Zm4.101 0a.351.351 0 0 1-.262.11.366.366 0 0 1-.268-.11.358.358 0 0 1-.112-.264c0-.103.037-.191.112-.265a.367.367 0 0 1 .268-.11c.104 0 .19.037.262.11a.367.367 0 0 1 .107.265c0 .102-.035.19-.107.264ZM3.5 11.77c0 .294.104.544.311.75.208.204.46.307.76.307h.758l.01 2.182c0 .276.097.51.292.703a.961.961 0 0 0 .7.288.973.973 0 0 0 .71-.288.95.95 0 0 0 .292-.703v-2.182h1.343v2.182c0 .276.097.51.292.703a.972.972 0 0 0 .71.288.973.973 0 0 0 .71-.288.95.95 0 0 0 .292-.703v-2.182h.76c.291 0 .54-.103.749-.308.207-.205.311-.455.311-.75V5.365h-9v6.404Zm10.495-6.587a.983.983 0 0 0-.702.278.91.91 0 0 0-.293.685v4.063c0 .271.098.501.293.69a.97.97 0 0 0 .702.284c.28 0 .517-.095.712-.284a.924.924 0 0 0 .293-.69V6.146a.91.91 0 0 0-.293-.685.995.995 0 0 0-.712-.278Zm-12.702.283a.985.985 0 0 1 .712-.283c.273 0 .507.094.702.283a.913.913 0 0 1 .293.68v4.063a.932.932 0 0 1-.288.69.97.97 0 0 1-.707.284.986.986 0 0 1-.712-.284.924.924 0 0 1-.293-.69V6.146c0-.264.098-.491.293-.68Z"/>
  </svg>
Android
<% }else{ %>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-laptop-fill me-1" viewBox="0 0 16 16">
    <path d="M2.5 2A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
  </svg>
  PC
  <% } %>
</span>
</div>

</div>
<span></span>
<div style="position:relative">
<button onclick="multipleSearch()"  class='btn btn-info px-4 text-white mt-2  bt1'>Start</button>
<span  class="eta"></span>
<span  class="text-muted infosearch"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16">
  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg></span>
</div>


<div id="container " class="container micro1">
  <a href="https://rewards.bing.com" class="btn btn-secondary msw1">Go To<b> Microsoft | Rewards</b>
  <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 19.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <svg version="1.1" id="loading-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
       y="0px" viewBox="922 -1145 736 736" style="enable-background:new 922 -1145 736 736;" xml:space="preserve">
  <rect id="rect0" x="1059.3" y="-1007.7" width="174" height="174"/>
  <rect id="rect1" x="1346.7" y="-1007.7" width="174" height="174"/>
  <rect id="rect2" x="1346.7" y="-720.3" width="174" height="174"/>
  <rect id="rect3" x="1059.3" y="-720.3" width="174" height="174"/>
  </svg>
  </a>
  </div>

  <% if(domain=="creative9.online"){  %>
  <div class="alert alert-info d-flex justify-content-between align-items-center mt-5" role="alert">
  
    <span ><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class=" me-2 bi bi-info-square-fill" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg><span  style="line-height:1.3em;vertical-align:middle">Website is moving to a new Domain. Start using it from now!</span> <a href="https://aquafusion.in/msrewards" class="alert-link"> aquafusion.in/msrewards </a></span>
      <button class="btn btn-sm btn-primary d-flex justify-content-center align-items-center btn9"><span class="zq3">Copy Link</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard-check zq1 check" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
      <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
      <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard zq1 uncheck" viewBox="0 0 16 16">
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
      </svg>
    </button>
    </div>
  <% } %>
  <div id="my-div"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search Done</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Task Executed Successfully!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search Failed!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Please Enable/Allow Pop-ups from top of the page and try again! 
       Pop-ups permission is required to execute search task.
      </div>
    <% if(isMobile){ %>

<a href="https://youtube.com/shorts/dRAnd4bhNoM?feature=share">Click Here to watch video on how to enable/allow Pop-ups</a>
      <% }else{ %>
<a href="https://youtu.be/-Qh1nXSgfYg">Click Here to watch video on how to enable/allow Pop-ups</a>

      <% } %>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<button id="bt4" type="button"  class="visually-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal3">

</button>
<!-- Button trigger modal -->
<button id="bt2" type="button"  class="visually-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal">

</button>

<!-- Button trigger modal -->
<button id="bt3" class="visually-hidden" data-bs-toggle="modal" data-bs-target="#exampleModal1">

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header ">
        <h1 class="modal-title fs-5" id="exampleModalLabel fs-bolder ">Search Number Calculate</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    
      <div style="margin: 0 auto;" class="modal-body">
        <h6 class="text-muted" style="text-align:left;"><span class="sp1">Default Search number</span> is calculated on basis of <span class="sp1">Country</span> and<span class="sp1"> Device Type</span>  and additional search needed for <span class="sp1">edge bonus</span> as well as 3-5 extra search due to Network Drop could occure! e.g US Android 100 max points / device by 5 points per search = 20 searches + 5 search(edge bonus)+5 ( extra due to network drop).
          <h6>
          <h7 class="text-muted"  ><span class="sp1">You just need to do start once to complete daily search per device/country!</span></h7>
        <div class="mt-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>

    <script>
     

let count = 0;
let country_code = `<%=country_code%>`
let isMobile = <%= isMobile %>;
let searchValue;
if(country_code=='US'){
if(isMobile){
searchValue=100/5+10;
}else{
searchValue=150/5+10;
}
}else if(country_code=='GB'){
if  (isMobile){
    searchValue=60/3+9;
}else{
  searchValue=90/3+9;
}
}else{
  if(isMobile){
    searchValue=60/3+7;
}else{
  searchValue=90/3+7;
}
}
const target = document.querySelector('#my-div');

// Define the callback function
const callback = function(mutationsList, observer) {
  for (let mutation of mutationsList) {
    if (mutation.type === 'childList') {
      // An element has been added or removed
      target.classList.add('animate');
      setTimeout(() => {
        target.classList.remove('animate');
      }, 1000); // Remove animation after 1 second
    }
  }
};

// Create a new observer and attach it to the target div
const observer = new MutationObserver(callback);
observer.observe(target, { childList: true });

function delayfooter(){
  let span1 = document.createElement('span');
let span2 = document.createElement('span');
let activeSpan = span1;

span1.textContent = " ";
span1.classList.add('text-muted');
target.appendChild(span1);
target.classList.add('footerp1');

setInterval(() => {
  if (activeSpan === span1) {
    target.removeChild(span1);
    span2.textContent = "*Daily check in on rewards.bing.com(Microsoft Rewards Site) for extra points by Task/Punch Cards.";
    span2.classList.add('text-muted');
    target.appendChild(span2);
    target.classList.add('footerp2');
    if(isMobile){
      target.style.right ="2em"
    }
    if(target.classList.contains('footerp1')){
      target.classList.remove('footerp1');
    }
    activeSpan = span2;
  } else {
    target.removeChild(span2);
    span1.textContent = " ";
    span1.classList.add('text-muted');
    target.appendChild(span1);
    target.classList.add('footerp1');
    
      target.style.right ="none"
   
    if(target.classList.contains('footerp2')){
      target.classList.remove('footerp2');
    }
    activeSpan = span1;
  }
}, 6000);
}

setTimeout(delayfooter,8000);

  let bt2 = document.querySelector('#bt2');  
  let bt4 = document.querySelector('#bt4');  
  let number = document.querySelector('#number');
number.value= searchValue;
let eta = document.querySelector('.eta');
eta.textContent = `ETA:${searchValue+(searchValue/2)+5} Sec`;
function reset(){
  number.value=searchValue;
}
number.addEventListener('input',(e)=>{
  let num1 = parseInt(number.value);
  let eta = document.querySelector('.eta');
 
if(num1==0||num1>101||isNaN(num1)){
  eta.textContent = `ETA: _`;
  return;
}
  
eta.textContent = `ETA:${num1+(num1/2)+5} Sec`;
})
async function multipleSearch(){

   if(number.value<1 || number.value>100){
    alert('Search Value should be between 1 to 100');
    return;
   }
   
   let length = parseInt(number.value);

   let array;
   let err;
await fetch(`word?number=${length}`)
.then((response)=>{if(response.ok){
  return response.json()}
  else{
    throw new Error('Something went wrong');
  }})
  .then((data) => array = data)
  .catch((error) => {
    console.log(error);
    err = true;
  });

  if(err){
    let body = document.querySelector('body');
  body.insertAdjacentHTML( 'beforeend',`<div class="alert alert-warning alert-dismissible fade show mt-5 err1" role="alert">
  <strong>Error!</strong> Something Went wrong.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>`);
    return;
    
  }
let dcount = 1;
let isfailed = false;
    for (let i = 0; i <array.length; i++) {
        setTimeout(() => {
         let tab= window.open(`https://www.bing.com/search?q=${array[i]}&setmkt=en-US&PC=EMMX01&form=LBT003&scope=web`, "_blank");
         
if(!tab || tab.closed || typeof tab.closed=='undefined') 
{ 
 
  if(dcount==1){
   bt4.click();
  }
 isfailed = true;
   dcount++;
  }
       setTimeout(()=>{
        if(!isfailed){
          tab.close();
        }
         
       },5000)
        }, i * 1500);
      }

setTimeout(()=>{
if(!isfailed){
  bt2.click();
}
},array.length*1500+2000)
 
    setTimeout(()=>{
      if(count>=2){
number.value=5;
eta.textContent = `ETA:${5+(5/2)+5} Sec`;
    }else{
      number.value=10;
      eta.textContent = `ETA:${10+(10/2)+5} Sec`;
    }
    },5000)
   
      count++;
}
let bt3 = document.querySelector('#bt3');
let infosearch = document.querySelector('.infosearch');
infosearch.addEventListener('click',()=>{ 
bt3.click();
})



var loadingIcon = $('#loading-icon');
var puzzleContainer = $('#container');
var piece = $('#loading-icon rect');
var speed1 = 0.5;
var speed2 = 0.7;


var tl = new TimelineMax({
    
    onComplete: function() {
        this.invalidate();
        this.restart();
    }
    
});


tl
    .staggerTo(piece, speed1, {
            scale: 0.7,
            transformOrigin: "50% 50%",
            ease: Bounce.easeOut
        }, 0.04) 

    .to(loadingIcon, speed2, {
            rotation: "+=90",
            ease: Circ.easeInOut,
        })

    .to(piece, speed1, {
            scale: 1.45,
            ease: Circ.easeInOut,
            rotation: "+=90",
        })

    .to(loadingIcon, speed2, {
            rotation: "+=90",
            ease: Circ.easeInOut,
        })

    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <% if(domain=="creative9.online"){ %>
<script>
 
let check = document.querySelector('.check');
let uncheck = document.querySelector('.uncheck');
let btn9 = document.querySelector('.btn9');
let zq3 = document.querySelector('.zq3');
btn9.addEventListener('click',(e)=>{
    
let TempText = document.createElement("input");
      TempText.value = "aquafusion.in/msrewards";
      document.body.appendChild(TempText);
      TempText.select();

      document.execCommand("copy");
      document.body.removeChild(TempText);

    check.style.display="block";
    uncheck.style.display="none";
   zq3.innerHTML="Copied!";
   check.style.transform = "scale(0.6)"
  if(window.screen.width>=768){
    check.style.transform = "scale(0.6)"
  }
   setTimeout(()=>{
    check.style.display="none";
    uncheck.style.display="block";
    zq3.innerHTML="Copy Link";
    uncheck.style.transform = "scale(1)"
    if(window.screen.width>=768){
    uncheck.style.transform = "scale(0.6)"
  }
   },3000)

})

</script>
<% } %>

      </body>
</html>
